*.config
TeleBot2/.local-chrome/86.0.4240.183/86.0.4240.183.manifest
TeleBot2/.local-chrome/86.0.4240.183/chrome.dll
TeleBot2/.local-chrome/86.0.4240.183/chrome_100_percent.pak
TeleBot2/.local-chrome/86.0.4240.183/chrome_200_percent.pak
TeleBot2/.local-chrome/86.0.4240.183/chrome_elf.dll
TeleBot2/.local-chrome/86.0.4240.183/chrome_pwa_launcher.exe
TeleBot2/.local-chrome/86.0.4240.183/d3dcompiler_47.dll
TeleBot2/.local-chrome/86.0.4240.183/eventlog_provider.dll
TeleBot2/.local-chrome/86.0.4240.183/Extensions/external_extensions.json
TeleBot2/.local-chrome/86.0.4240.183/icudtl.dat
TeleBot2/.local-chrome/86.0.4240.183/libEGL.dll
TeleBot2/.local-chrome/86.0.4240.183/libGLESv2.dll
TeleBot2/.local-chrome/86.0.4240.183/Locales/am.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/ar.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/bg.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/bn.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/ca.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/cs.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/da.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/de.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/el.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/en-GB.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/en-US.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/es-419.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/es.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/et.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/fa.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/fi.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/fil.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/fr.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/gu.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/he.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/hi.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/hr.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/hu.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/id.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/it.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/ja.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/kn.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/ko.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/lt.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/lv.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/ml.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/mr.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/ms.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/nb.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/nl.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/pl.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/pt-BR.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/pt-PT.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/ro.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/ru.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/sk.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/sl.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/sr.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/sv.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/sw.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/ta.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/te.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/th.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/tr.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/uk.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/vi.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/zh-CN.pak
TeleBot2/.local-chrome/86.0.4240.183/Locales/zh-TW.pak
TeleBot2/.local-chrome/86.0.4240.183/MEIPreload/manifest.json
TeleBot2/.local-chrome/86.0.4240.183/MEIPreload/preloaded_data.pb
TeleBot2/.local-chrome/86.0.4240.183/metadata
TeleBot2/.local-chrome/86.0.4240.183/mojo_core.dll
TeleBot2/.local-chrome/86.0.4240.183/nacl_irt_x86_64.nexe
TeleBot2/.local-chrome/86.0.4240.183/notification_helper.exe
TeleBot2/.local-chrome/86.0.4240.183/reports/090d5dcd-7c04-43a5-a580-3ec0ffe67e57.dmp
TeleBot2/.local-chrome/86.0.4240.183/reports/3c260c16-4027-47ff-9c9e-fb9fdb552e4e.dmp
TeleBot2/.local-chrome/86.0.4240.183/reports/48d428d7-60a5-47c1-b74c-ac6b6f0ec7cc.dmp
TeleBot2/.local-chrome/86.0.4240.183/reports/63c94b7d-caf4-470d-9d9c-39c56c9b1521.dmp
TeleBot2/.local-chrome/86.0.4240.183/reports/8183c325-a4ae-4ecc-ac9d-74e48ed934bd.dmp
TeleBot2/.local-chrome/86.0.4240.183/reports/96dd4e87-11b4-4993-babe-2e1ee0937d28.dmp
TeleBot2/.local-chrome/86.0.4240.183/reports/c5eaabb9-b7a0-433b-8ffb-435f8f6bb4f9.dmp
TeleBot2/.local-chrome/86.0.4240.183/resources.pak
TeleBot2/.local-chrome/86.0.4240.183/settings.dat
TeleBot2/.local-chrome/86.0.4240.183/swiftshader/libEGL.dll
TeleBot2/.local-chrome/86.0.4240.183/swiftshader/libGLESv2.dll
TeleBot2/.local-chrome/86.0.4240.183/v8_context_snapshot.bin
TeleBot2/.local-chrome/chrome.exe
TeleBot2/.local-chrome/chrome_proxy.exe
TeleBot2/.local-chrome/chromedriver.exe
TeleBot2/chrome-win/93.0.4546.0.manifest
TeleBot2/chrome-win/chrome.dll
TeleBot2/chrome-win/chrome.exe
TeleBot2/chrome-win/chrome_100_percent.pak
TeleBot2/chrome-win/chrome_200_percent.pak
TeleBot2/chrome-win/chrome_elf.dll
TeleBot2/chrome-win/chrome_proxy.exe
TeleBot2/chrome-win/chrome_pwa_launcher.exe
TeleBot2/chrome-win/chromedriver.exe
TeleBot2/chrome-win/D3DCompiler_47.dll
TeleBot2/chrome-win/elevation_service.exe
TeleBot2/chrome-win/eventlog_provider.dll
TeleBot2/chrome-win/First Run
TeleBot2/chrome-win/icudtl.dat
TeleBot2/chrome-win/interactive_ui_tests.exe
TeleBot2/chrome-win/libEGL.dll
TeleBot2/chrome-win/libGLESv2.dll
TeleBot2/chrome-win/locales/ar.pak
TeleBot2/chrome-win/locales/bg.pak
TeleBot2/chrome-win/locales/bn.pak
TeleBot2/chrome-win/locales/ca.pak
TeleBot2/chrome-win/locales/cs.pak
TeleBot2/chrome-win/locales/da.pak
TeleBot2/chrome-win/locales/de.pak
TeleBot2/chrome-win/locales/el.pak
TeleBot2/chrome-win/locales/en-GB.pak
TeleBot2/chrome-win/locales/en-US.pak
TeleBot2/chrome-win/locales/es-419.pak
TeleBot2/chrome-win/locales/es.pak
TeleBot2/chrome-win/locales/et.pak
TeleBot2/chrome-win/locales/fi.pak
TeleBot2/chrome-win/locales/fil.pak
TeleBot2/chrome-win/locales/fr.pak
TeleBot2/chrome-win/locales/gu.pak
TeleBot2/chrome-win/locales/he.pak
TeleBot2/chrome-win/locales/hi.pak
TeleBot2/chrome-win/locales/hr.pak
TeleBot2/chrome-win/locales/hu.pak
TeleBot2/chrome-win/locales/id.pak
TeleBot2/chrome-win/locales/it.pak
TeleBot2/chrome-win/locales/ja.pak
TeleBot2/chrome-win/locales/kn.pak
TeleBot2/chrome-win/locales/ko.pak
TeleBot2/chrome-win/locales/lt.pak
TeleBot2/chrome-win/locales/lv.pak
TeleBot2/chrome-win/locales/ml.pak
TeleBot2/chrome-win/locales/mr.pak
TeleBot2/chrome-win/locales/ms.pak
TeleBot2/chrome-win/locales/nb.pak
TeleBot2/chrome-win/locales/nl.pak
TeleBot2/chrome-win/locales/pl.pak
TeleBot2/chrome-win/locales/pt-BR.pak
TeleBot2/chrome-win/locales/pt-PT.pak
TeleBot2/chrome-win/locales/ro.pak
TeleBot2/chrome-win/locales/ru.pak
TeleBot2/chrome-win/locales/sk.pak
TeleBot2/chrome-win/locales/sl.pak
TeleBot2/chrome-win/locales/sr.pak
TeleBot2/chrome-win/locales/sv.pak
TeleBot2/chrome-win/locales/ta.pak
TeleBot2/chrome-win/locales/te.pak
TeleBot2/chrome-win/locales/th.pak
TeleBot2/chrome-win/locales/tr.pak
TeleBot2/chrome-win/locales/uk.pak
TeleBot2/chrome-win/locales/vi.pak
TeleBot2/chrome-win/locales/zh-CN.pak
TeleBot2/chrome-win/locales/zh-TW.pak
TeleBot2/chrome-win/MEIPreload/manifest.json
TeleBot2/chrome-win/MEIPreload/preloaded_data.pb
TeleBot2/chrome-win/mojo_core.dll
TeleBot2/chrome-win/nacl_irt_x86_64.nexe
TeleBot2/chrome-win/notification_helper.exe
TeleBot2/chrome-win/resources.pak
TeleBot2/chrome-win/swiftshader/libEGL.dll
TeleBot2/chrome-win/swiftshader/libGLESv2.dll
TeleBot2/chrome-win/v8_context_snapshot.bin
TeleBot2/chrome-win/vk_swiftshader.dll
TeleBot2/chrome-win/vk_swiftshader_icd.json
TeleBot2/chrome-win/vulkan-1.dll
*.p7s
